<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>AAR 2015-2016 by Gautam Mittal</title>

    <link rel="stylesheet" href="//cdn.rawgit.com/orderedlist/minimal/master/stylesheets/styles.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/orderedlist/minimal/master/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
      #playgroundInput {
        resize:none;
        width: 100%;
        border: none;
        font-size: 14pt;
        height: 200px;
        border-bottom: 1px solid rgba(10, 10, 10, 0.2);
        margin-bottom: 10px;

      }

      #playgroundInput:focus {
        outline:none;
      }

      #summaryOutput {
        font-family: "Roboto", "Open Sans";
        font-weight: 100;
        font-size: 15pt;
        font-style: italic;
        color: rgba(0, 0, 0, 0.7);
      }

      #summaryOutput:before {
        content: '"';
      }

      #summaryOutput:after {
        content: '"';
      }

    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>From Text to Information</h1>
        <p>Generating Educational Storybook Scenes By Deriving Semantic Meaning From Plaintext Using Natural Language Processing.</p>
        <p>A project by <a href="http://www.gautam.cc">Gautam Mittal</a> under the mentorship of Robert Cheung.</p>
        <p class="view"><a target="_blank" href="https://cdn.rawgit.com/gmittal/aar-nlp-research-2016/master/papers/gm16-Research%20Proposal.pdf">Read the Project Proposal <small>December 7, 2015</small></a></p>
        <p class="view"><a target="_blank" href="http://github.com/gmittal/aar-nlp-research-2016">View the Project on GitHub <small>gmittal/aar-nlp-research-2016</small></a></p>
      </header>
      <section>
        <h1>Playground</h1>

        <p><em>An experimental demo of the project in practice. <a id="goldilocksDemo">Try the Goldilocks Demo!</a></em></p>
        <textarea id="playgroundInput" placeholder="Write a story here...

This is a story about how my life got flipped and turned upside down. This is your 'raw' input."></textarea>


        <p>The above is just raw text. As humans, we may understand a thing or two about it, but a computer has no clue what any of this gibberish means. Let's move one step forward, and <b>summarize</b> the above story using some simple math.</p>

        <div id="summaryOutput">A very concise summary.</div>
        <br />
        <p>Pretty interesting, no? But this is just a summary. The computer doesn't actually know what any of this means. Let's pass the text through a <b>parser</b> that I've hacked together to try and <b>glean</b> some more interesting features:</p>
        <pre id="apiOutput">Console output</pre>
        <p>Now we're getting somewhere! The computer doesn't necessarily "understand" what the text means, but we've gotten one step closer, and there's definitely a ton of useful things we can do with this information. Such as <b>drawing diagrams or generating fun little GIFs</b> to reinforce meaning (this example is especially applicable when generating children's storybook illustrations).</p>

        <div id="rawDiagramOutput"></div>
        <div id="trollDiagramOutput"></div>
      </section>
      <footer>
        <p><small>&copy; 2015-2016 Gautam Mittal<br />Project part of inaugural Palo Alto Unified School District Advanced Authentic Research (AAR) Program.</small></p>
      </footer>
    </div>
    <script src="//cdn.rawgit.com/orderedlist/minimal/master/javascripts/scale.fix.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//yahoo.github.io/gifshot/js/dependencies/gifshot.min.js"></script>
    <script>
      var doneTypingInterval = 1000;
      var typingTimer;

      $('#playgroundInput').keyup(function() {
          clearTimeout(typingTimer);
          typingTimer = setTimeout(doneTyping, doneTypingInterval);
      });

      $('#playgroundInput').keydown(function() {
          clearTimeout(typingTimer);
      });

      $("#goldilocksDemo").click(function() {
          $.get("/tellMeAStory", function (data, err) {
            $("#playgroundInput").val(data);
            doneTyping();
          });
      });

      var i = 0;
      function generateDiagrams(svo_data) {
        // raw diagrams by the API
        $("#rawDiagramOutput").html("");
        loopHack();

        function loopHack() {
          if (i == svo_data["svo_data"].length){ // super hacky, don't learn to code like this
            i = 0;
            return;
          }

          var frames = [];
          frames[0] = svo_data["svo_data"][i]["subject"]["image"];
          frames[1] = svo_data["svo_data"][i]["verb"]["image"];
          frames[2] = svo_data["svo_data"][i]["object"]["image"];
          for (var j = 0; j < frames.length; j++) {
            if (frames[j] == "undefined") {
              frames.splice(j, 1);
            }
          }

          sent_num = i;

          frames = cleanArray(frames);
/*
          for (var k = 0; k < frames.length; k++) {
            frames[k] = "http://crossorigin.me/" + frames[k];
          }
*/
          gifshot.createGIF({
              'images': frames,
              'interval': 1,
              'gifWidth': 300,
              'gifHeight': 200
          },function(obj) {
              if(!obj.error) {
                if (i < svo_data["svo_data"].length) {
                  var image = obj.image,
                  animatedImage = document.createElement('img');
                  animatedImage.src = image;
                  $("#rawDiagramOutput").append("<p><i><b>"+capitalizeFirstLetter(svo_data["summary"].split(".")[sent_num])+":</b></i></p><img src=\""+ image +"\"/><br /><br />");
                  i++;
                  loopHack();
                 }
            }
          });

        } // end loop

      }

      function doneTyping() {
        $.ajax({
            type: 'POST',
            url: "/illustrate",
            data: {
                "text_body": $("#playgroundInput").val().replace("\n", ""),
            },
            error: function(err) {
                console.log(err);
            },
            success: function(data) {
                console.log(data);
                $("#apiOutput").text(JSON.stringify(data, null, 2));
                $("#summaryOutput").text(capitalizeFirstLetter(data["summary"]));
                generateDiagrams(data);
            },
            dataType: "json"
        });
      }

      function capitalizeFirstLetter(string) {
          return string.charAt(0).toUpperCase() + string.slice(1);
      }

      function cleanArray(actual) {
        var newArray = new Array();
        for (var i = 0; i < actual.length; i++) {
          if (actual[i]) {
            newArray.push(actual[i]);
          }
        }
        return newArray;
      }

    </script>
  </body>
</html>
